[
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 20971520}, {count, 10}]},
            {lager_file_backend, [{file, "log/info.log"}, {level, info}, {size, 20971520}, {count, 10}]}
        ]}
    ]}
].
