[
% {ds_api,  [
%            {root_dir, <<"/home/emfa/ds_api_data">>},
%            {port, 8282},
%            {api_keys, #{<<"emfa">> => <<"apa">>}}
%           ]
% },
 {ds_api,  [
            {root_dir, <<"/home/emfa/ds_api_data_stage">>},
            {nodes, []},
            {port, 8383},
            {host_match, <<":stage.textalk.se">>},
            {fallback_api, <<"http://localhost:8282">>}
           ]
 },
 {lager, [
          {handlers, [
                      {lager_console_backend, debug}
                     ]}
         ]
 }
].
