[
 {ds_api,  [
            {components_dir, <<"/home/emfa/components">>},
            {nodes, []},
            {port, 8282},
            {host_match, '_'} % ":stage.textalk.se" for staging environment
           ]
 },
 {lager, [
          {handlers, [
                      {lager_console_backend, debug}
                     ]}
         ]
 }
].
