[{
    divapi,  [{repo_dir, <<"/Users/raoul/projects/tmp/components2">>}, %% Path to your directory
              {nodes, []},
              {component_cache,  <<"/Users/roh/Dev/tmp/js_minified/">>},
              {port, 8181},
              {stage, [
                {fallback, <<"api.diversity.io">>},
                {staging_regexp, <<"\\w*stage.*">>}
              ]}]
}].
